{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-1">
                    <h4 class="text-lead lead">Please enter your E-mail to get reset password-link</h4>
                </div>

                <form action="{% url 'auth:reset-password' %}" method="post">
                    {% csrf_token %}

                    {% include 'includes/_messages.html' %}

                    <div class="form-group py-1">
                        <input type="email"
                               name="email"
                               placeholder="Email"
                               id="emailField"
                               class="form-control form-control-sm"
                               value="{{ values.email }}"/>
                    </div>
                    <div class="emailfeedBackArea invalid-feedback" style="display:none"></div>

                    <div class="w-100 btn-group mt-2">
                        <input type="submit" value="Get link" class="btn btn-block btn-primary submit-btn"/>
                    </div>
                </form>
                <div class="container">
                    <span class="text-lead lead fs-6">Have an account?</span><a class="user-login mx-2" href="{% url 'auth:login' %}">Login</a><br>
                    <span class="text-lead lead fs-6">Don't have an account?</span><a class="user-login mx-2" href="{% url 'auth:register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock %}