{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-2 mb-2">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 breadcrumb-wrapper">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-expense' %}" class="btn btn-primary">Add Expense</a>
        </div>
    </div>
    <hr>
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% if expenses.count %}
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>Amount (CURRENCY)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user_expense in page_obj %}
            <tr>
                <td>{{ user_expense.amount }}</td>
                <td>{{ user_expense.description }}</td>
                <td>{{ user_expense.category }}</td>
                <td>{{ user_expense.date }}</td>
                <td><a href="{% url 'edit-expense' user_expense.id %}" class="btn btn-info btn-sm">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container d-flex justify-content-between">
            <div class="paginator-text">
                Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>

            <ul class="pagination pagination-sm align-right float-right mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
                    <a class="page-link" href="?page=1">&laquo;1</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}